// methods 方法集合, 記得 import 到各個 scss 檔案

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

@charset "UTF-8";
@import "./variable";

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

@function calcPercentage($ex, $base) {
  @return ($ex / $base * 100%);
}

@mixin font($size, $weight, $color: $black-100) {
  font-family: $font-family-roboto;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  height: 1em;
  line-height: 1em;
}
