// modules style, 套用在 template 的樣式.

// z-index 順序
// 1 .pic-container
// 2 .title .text .number .striped

@charset "UTF-8";
@import "./variable";
@import "./methods";

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

.header {
  & .title {
    padding-top: 2.5rem;
    @include font($font-size-1, $font-weight-900);
    text-align: center;
  }
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

.warp {
  margin: 0 auto;
  width: 100%;
  max-width: $width-size-l;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

.item {
  width: 50%;

  .item-content {
    padding-bottom: 25rem;
    position: relative;
  }

  // ---------------------------------------------------------------------------
  // ---------------------------------------------------------------------------
  // ---------------------------------------------------------------------------

  .title-container {
    display: block;
    position: absolute;
    z-index: 2;
  }

  .title {
    @include font($font-size-2, $font-weight-900);
    white-space: nowrap;

    &::after,
    &::before {
      content: attr(data-title);
      overflow: hidden;
      position: absolute;
      left: 0px;
      width: 100%;
    }

    &::before {
      height: 0.5em;
      color: $black-30;
      top: -0.37em;
    }

    &::after {
      height: 0.3em;
      color: $black-10;
      top: -0.55em;
    }
  }

  // ---------------------------------------------------------------------------
  // ---------------------------------------------------------------------------
  // ---------------------------------------------------------------------------

  .text {
    @include font($font-size-3, $font-weight-700);
    white-space: nowrap;
    font-style: italic;
    position: absolute;
    z-index: 2;
  }

  // ---------------------------------------------------------------------------
  // ---------------------------------------------------------------------------
  // ---------------------------------------------------------------------------

  .number {
    @include font($font-size-2, $font-weight-900);
    white-space: nowrap;
    position: absolute;
    z-index: 2;
  }

  // ---------------------------------------------------------------------------
  // ---------------------------------------------------------------------------
  // ---------------------------------------------------------------------------

  .pic-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;

    .pic {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // ---------------------------------------------------------------------------
  // ---------------------------------------------------------------------------
  // ---------------------------------------------------------------------------

  .striped {
    width: 50%;
    height: 25%;
    background-image: repeating-linear-gradient(
      -45deg,
      $base-color 0px,
      $base-color 18px,
      transparent 18px,
      transparent 36px
    );
    position: absolute;
    z-index: 2;
  }

  // ---------------------------------------------------------------------------
  // ---------------------------------------------------------------------------
  // ---------------------------------------------------------------------------

  .bordered,
  .rectangle {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    position: absolute;
  }

  .bordered {
    border: 1.25rem solid $base-color;
  }

  .rectangle {
    background-color: $base-color;
  }
}
