// variable 變數集合, 記得 import 到各個 scss 檔案

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

@charset "UTF-8";

// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

// 顏色
$base-color: #50e3c2;
$black-100: #000;
$black-30: rgba(0, 0, 0, 0.3);
$black-10: rgba(0, 0, 0, 0.1);
$white-100: rgba(255, 255, 255, 1);
// 字型
$font-family-roboto: "Roboto", sans-serif;
// 字體大小
$font-size-1: 72px;
$font-size-2: 48px;
$font-size-3: 24px;
$font-size-4: 20px;
$font-size-5: 16px;
// 字體粗細
$font-weight-900: 900;
$font-weight-700: 700;
// 頁面寬度
$max-width: 960px;
